<html>
    <head>
        <meta charset="UTF-8" >
        <title>Projeto v9</title>
        
        <link rel="stylesheet" type="text/css" href="index.css" media="screen" />
    </head>
    <body class='body'>
        <div id="secao-de-cima">
            
            <section>
            <h2>JoyTech | Vyperium Company</h2>
            <input id="uey mode" type="submit" value='Dark Mode' onclick="darkMode()">
            <input type="submit" value="Personalizado" id="psdf aset" onclick="PersonalizarCor()">
            <input id="uye mode" type="submit" value="Light Mode" onclick="lightMode()">

            <p id="status-mode">Modo: Noturno</p>
               <div class="perfil">
                <a style="color:white; text-decoration:none; " href='https://discord.com'>
                   <p>Nickname: nome do usuario no site</p>
                   <p>Status: online/offline</p>
                </a>
                </div>
            </section>
            


        </div>
        <div id="atualizacoes">
           <p>Atualizações Diárias</p>
           <p>
               <ul>
                   <li>Novas cores</li>
                   <li>Novas regras</li>
                   <li>Meta para término: 30/12/2021</li>
                   <li>Começo da página de login</li>
               </ul>
           </p>
           <div id="patrocinadores">
               <ul>
                  <a target="_blank" href='login.html'><li>JoyTech |</li></a>
                  <a target="_blank" href="https://youtube.com"><li>JoyEquipe |</li></a>
                  <a target="_blank" href="https://discord.com/developers"><li>Projeto v9</li></a>
              </ul>
           </div>
           <form method="post">
           <div id="create-post">
              <h4 style="margin: 5px;">Criar um post</h4>
              <input type="text" style="font-family: Arial, Helvetica, sans-serif; margin-left: 60px; margin-top: 0;size: 40px;" id="escrever-post" placeholder="Escreve a legenda"></textarea>
              
              <input type="file" id="foto">
              <label for="foto" style="text-decoration: none;">Selecionar uma foto</label>
            <input style="margin-left: 120px; margin-top: 5px; border-radius: 4px;" type="submit" value="Postar">
           </div>
           </form>
           
              <p style="text-align: center; font-size: small;">PUBLICIDADE</p>
              <img style="border-style: dashed; max-width: 300px;" src="img/JoyOficial.png">
           
           
            <p style="text-align: center; font-size: small;">PUBLICIDADE GOOGLE</p>
            <img style="border-style: dashed; max-width: 250px;" src="https://tse3.mm.bing.net/th/id/OIP.rbi5lER4JyZ8k0IpEGgL8wHaEK?pid=ImgDet&rs=1">

    
           
        </div >
        <div>
        <h1 id='title'>Projeto v9</h1>
        </div>
        

    </body>
    <script src="js/script.js"></script>
</html>