<DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8" >
        <title>Carregando...</title>
        <link rel="stylesheet" type="text/css" href="loading.css" media="screen" />
    </head>
    <body>
      <h1>Aguarde o carregamento</h1>
      <p>Isso durará poucos segundos.</p> <br>
      <div class="loadingContent">
        <div class="loadingBar"></div>
      </div>
      <button onclick="startLoading"><p>Iniciar</p></button>
    </body>
    <script src="script.js"></script>
  </html>